extends ../base

block content 
    if err 
        span=err
    form(method="post")
        input(placeholder="Old Password",name="oldpwd")
        input(placeholder="New Password",name="newpwd")
        input(placeholder="New Password Confirmation",name="newpwdConfirm")
        input(type="submit", value="Change Password")